 body{
    background: url("#{resource['/img/back.png']}");
	background-color: #444;
    background: url("#{resource['/img/pinlayer2.png']}"),url("#{resource['/img/pinlayer1.png']}"),url("#{resource['/img/back.png']}");
}
.vertical-offset-100{
    padding-top:100px;
}

.profile-img {
	width: 96px;
	height: 96px;
	margin:10px auto;
	display: block;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
