/* Sobre escribos los estilos del elemento growl de primefaces para personalizar los estilos de mis mensajes*/
/*Posicion*/
.ui-growl {   
    position:fixed;
    top: 20%;
   /* left: 15%; 
    margin:0px auto;
    width: 360px;
    height: 110px;
    z-index:9999;*/ 
}
/* .ui-messages-error, .ui-message-error { */
/*     color: #fff; */
/*     background-color: #d73925; */
/*     border-color: #eed3d7; */
/* } */

.alineacion-vertical{
	display: flex; 
	align-items: center;
}
/*
Estilo para las filas de items que se muestran estando de baja
*/
.tachado{
	 text-decoration:line-through;
	 color:rgb(197, 197, 197);
}
.opgasto{
	color:rgb(210, 33, 33);
	
}
.opingreso{
	/*font-weight: bold;*/
	 color:rgb(0, 0, 0);
}
.optitle{
	font-size: 15px;
	font-family: inherit; 
}