/* Sobre escribos los estilos del elemento growl de primefaces para personalizar los estilos de mis mensajes*/
/*Posicion*/
.ui-growl {   
    position:fixed;
    top: 20%;
   /* left: 15%; 
    margin:0px auto;
    width: 360px;
    height: 110px;
    z-index:9999;*/ 
}
/* .ui-messages-error, .ui-message-error { */
/*     color: #fff; */
/*     background-color: #d73925; */
/*     border-color: #eed3d7; */
/* } */
