<beans:beans xmlns="http://www.springframework.org/schema/security"
  xmlns:beans="http://www.springframework.org/schema/beans"
  xmlns:mvc="http://www.springframework.org/schema/mvc"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security-3.2.xsd">

  	<!-- pre-post-annotations habilita las anotaciones @PreAuthorize and @PostAuthorize
	secured-annotations="enabled" habilita la anotacion @Security para el codigo Java --> 
	<global-method-security secured-annotations="enabled"/>

	<!-- Ignora la seguridad para ese patron-->
	
<!-- 	<http pattern="/resources/**" security="none"/> -->
	
	<http use-expressions="true" access-denied-page="/access-denied.xhtml">
<!--         <intercept-url pattern="/pages/login.xhtml" access="permitAll" /> -->
<!--         <intercept-url pattern="/pages/user/user-list.xhtml" access="hasRole('ROLE_USER')"/> -->
<!--         <intercept-url pattern="/pages/user/user.xhtml" access="hasRole('ROLE_ADMIN')"/> -->
        
<!--         <intercept-url pattern="/pages/login.xhtml" access="permitAll" /> -->
<!--         <intercept-url pattern="/access-denied.xhtml" access="permitAll" /> -->
<!--         <intercept-url pattern="/pages/dashboard.xhtml" access="hasRole('ROLE_ADMIN')"/> -->
<!--         <intercept-url pattern="/**" access="denyAll" /> -->
        
<!--         <form-login login-page="/pages/login.xhtml"  login-processing-url="/j_spring_security_check" /> -->
<!--         <logout  invalidate-session="true"  logout-success-url="/pages/login.xhtml" /> -->

		
		<intercept-url pattern="/pages/login.xhtml" access="permitAll" />
		
		<intercept-url pattern="/pages/user/**" access="hasRole('Administrador')"/>
		<intercept-url pattern="/pages/**" access="authenticated" />
		<intercept-url pattern="/resources/**" access="denyAll" />
        <form-login login-page="/pages/login.xhtml"  />
        <logout logout-success-url="/session-expired.xhtml"/>
        
    </http>
 
<!--     <authentication-manager alias="authenticationManager"> -->
<!--         <authentication-provider> -->
<!--             <user-service> -->
<!--                 <user name="Alberto" password="123" authorities="ROLE_ADMIN" /> -->
<!--             </user-service> -->
<!--         </authentication-provider> -->
<!--     </authentication-manager> -->

		<authentication-manager alias="authenticationManager">
	    	<!-- Gestión de usuarios mediante un proveedor de servicios de usuarios: -->
	    	<authentication-provider user-service-ref="userServiceImpl"/>
  		</authentication-manager>

</beans:beans>